<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.nanoclaw</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/robert/projects/github.com/nanoclaw/bin/nanoclaw</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/robert/projects/github.com/nanoclaw</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/robert/.local/bin:/usr/local/bin:/usr/bin:/bin</string>
        <key>HOME</key>
        <string>/Users/robert</string>
        <key>ASSISTANT_NAME</key>
        <string>Andy</string>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/robert/projects/github.com/nanoclaw/logs/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/robert/projects/github.com/nanoclaw/logs/stderr.log</string>
</dict>
</plist>
